/*
* Blank V1
* 
* 
* 
* 
* 
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers) + Normalise.css
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1.5em; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
	article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { 
		display: block;	}
	audio, canvas, video {
		display: inline-block;
		*display: inline;
		*zoom: 1;	}
	audio,canvas,img,video {
   		/*vertical-align: middle;*/
		}
	audio:not([controls]) {
		display: none;
		height: 0; }
	[hidden] {
		display: none; }
	html {
		font-size: 100%; /* 1 */
		-webkit-text-size-adjust: 100%; /* 2 */
		-ms-text-size-adjust: 100%; /* 2 */ }
	a:focus {  outline: thin dotted; }
	a:active,a:hover { outline: 0; }
	abbr[title] { border-bottom: 1px dotted; }
	b, strong { font-weight: bold; }
	dfn { font-style: italic; }
	hr {
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		height: 0; }
	mark {
		background: #ff0;
		color: #000; }
	code,kbd,pre,samp,tt {
		font-family: monospace, serif;
		_font-family: 'courier new', monospace;
		font-size: 1em; }
	pre {
		font-size: 50%;
		line-height: 1.5em;
		/*white-space: pre;
		white-space: pre-wrap;
		word-wrap: break-word;*/ }
	q { quotes: none; }
	q:before,q:after {
		content: '';
		content: none;}
	sub,sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline; }
	sup { top: -0.5em; } 
	sub { bottom: -0.25em; }
	img {
		border: 0; /* 1 */
		-ms-interpolation-mode: bicubic; /* 2 */ }
	svg:not(:root) {  overflow: hidden; }
	figure { margin: 0; }
	form { margin: 0; }
	fieldset {
		border: 1px solid #c0c0c0;
		margin: 0 2px;
		padding: 0.35em 0.625em 0.75em; }
	legend {
		border: 0; /* 1 */
		padding: 0;
		white-space: normal; /* 2 */
		*margin-left: -7px; /* 3 */ }
	button,input,select,textarea {
		font-size: 100%; /* 1 */
		margin: 0; /* 2 */
		vertical-align: baseline; /* 3 */
		*vertical-align: middle; /* 3 */ }
	button,input { line-height: normal; }
	button,
	html input[type="button"], /* 1 */
	input[type="reset"],
	input[type="submit"] {
		-webkit-appearance: button; /* 2 */
		cursor: pointer; /* 3 */
		*overflow: visible;  /* 4 */ }
	input[type="checkbox"],input[type="radio"] {
		box-sizing: border-box; /* 1 */
		padding: 0; /* 2 */
		*height: 13px; /* 3 */
		*width: 13px; /* 3 */ }
	input[type="search"] {
		-webkit-appearance: textfield; /* 1 */
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box; /* 2 */
		box-sizing: content-box; }
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none; }
	button::-moz-focus-inner,input::-moz-focus-inner {
		border: 0;
		padding: 0;}
	textarea {
		overflow: auto; /* 1 */
		vertical-align: top; /* 2 */ }
	table {
		border-collapse: collapse;
		border-spacing: 0;}
		
		
/* #Chrome Frame Alert
================================================== 	*/

	.browsehappy {
		margin: 0.2em 0;
		background: #ccc;
		color: #000;
		padding: 0.2em 0;
	}
	
	

/* #Body
	Evething for fonts are set in multiples of 4
	Keep in ems for IE8 and down support, when 
	these eventually die out swith to rems
	Never use
	-webkit-font-smoothing: antialiased; (none or subpixel)
	sub pixel loks great on mac, crap on pc
	vice versa for anti aliased
	http://www.usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
================================================== 	*/

	html, body {
		height: 100%;
		width: 100%;
	}
	

	body {
	  margin: 0 0 0 0;
	  padding: 0;
	  font: 200% "Helvetica", Helvetica, Arial, sans-serif;  /* Base font set at 2 x 16, 32px */
	  line-height: 1.5em;
	  color: #444;
	  /* Fix for webkit rendering 
	  -webkit-text-size-adjust: 100%;
	  -ms-text-size-adjust: 100%;*/
	  
	  /* Baseline */
	  /* background: #fff url(../img/misc/baseline-24px.gif) repeat; */
	  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), transparent 1px);
	  background-origin: content-box;
	  background-size: 100% 0.75em; } /* Baseline set at 24px */
  
  
	body.background-image		{ background: #000 url(../img/background-image.jpg) 50% 50%; } 
  

/* #Typography
================================================== */

	h1, h2, h3, h4, h5, h6 {
	  color: #181818;
	  font-family:  "Helvetica", Helvetica, Arial, sans-serif;
	  font-weight: bold;
	 }
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	  font-weight: inherit; }
	  
	/* #-------------------------------HTAGS CONCAVE M = 48
	--------------------------------72 - 72
	------------------------------48
	----------------------------37
	--------------------------32
	-------------------------27
	------------------------21
	==================================================   
		
	h1 { font-size:2.25em;
		 line-height: 1em;
		 margin:0 0 0.6666666666666667em; }

	h2 { font-size:1.5em;
		 margin:0 0 1em; }

	h3 { font-size:1.1666em;
		 margin:0 0 1.286em; }

	h4 { font-size:1em;
		 margin:0 0 1.5em; }

	h5 { font-size:0.8333em;
		 margin:0 0 1.8em; }

	h6 { font-size:0.666em;
		 margin:0 0 2.26em; }  */
			
	/* #-------------------------------HTAGS FLAT
	---------------------------------84 - 96
	-------------------------------72
	-----------------------------60
	---------------------------48
	-------------------------36
	-----------------------24
	================================================== */
	
	
	h1 { font-size:2.625em;
		 line-height: 1.142857142em;
		 margin:0 0 0.5714em; }

	h2 { font-size:2.25em;
		 line-height: 1em;
		 margin:0 0 0.6666666666666667em; }

	h3 { font-size:1.9em;
		 line-height: 1.2em;
		 margin:0 0 0.79em; }

	h4 { font-size:1.5em;
		 margin:0 0 1em; }

	h5 { font-size:1.125em;
		 margin:0 0 1.33333em; }

	h6 { font-size:0.75em;
		 margin:0 0 2em; }  
	
	 
	
	/* #---------------------------------HTAGS SHARP / Needs fixes
	----------------------------------144
	------------------------------120
	---------------------------96
	------------------------72
	---------------------48
	------------------24
	================================================== 
	
	
	h1 { font-size:4.5em;
		 line-height: 1em;
		 margin:0 0 0.5em; }

	h2 { font-size:3.75em;
	     line-height: 1em;
		 margin:0 0 0.6em; }

	h3 { font-size:3em;
		 line-height: 1em;
		 margin:0 0 0.5em; }

	h4 { font-size:2.25em;
		 line-height: 1em;
		 margin:0 0 0.67em; }

	h5 { font-size:1.5em;
		 line-height: 1em;
		 margin:0 0 1em; }

	h6 { font-size:0.75em;
		 line-height: 1em;
		 margin:0 0 2em; }  */ 
		
		
	hr 				{ border: solid #888; border-width: 1px 0 0; clear: both; margin: 0 0 1.46875em;  display:block; } /* m-bottom = 47 */
	
	p { font: 50%/1.5em "Georgia", "Times New Roman", serif; 
		margin:0 0 3em; 
		/*text-align: justify;*/ } /* back to 16px for <p> and 1.5 x 16 = 24px baseline, m-bottom = 48 */
		
	p img 			{ margin:0 0 3em; }
	p.lead			{ font: 100%/1.5em "Georgia", "Times New Roman", serif; margin:0 0 1.5em;  }
	
	em, i 			{ font-style: italic; }
	strong			{ font-weight: bold; color: #333; }
	small			{ font: 71%/1.5em "Georgia", "Times New Roman", serif; margin:0 0 3em; }	/* 9.6px for <p> and 1.5 x 16 = 24px baseline, m-bottom = 48 */
	
	.subheader 		{ color: #777; }
	.highlight		{ color: #F90; }

	.text-shadow	{ color: #FFF; text-shadow: 0 2px 2px  rgba(0, 0, 0, 0.6);  } 
	

	/* Blockquotes */
	blockquote, 
	blockquote p 				{ font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote 					{ margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite 			{ display: block; font-size: 12px; color: #555; }
	blockquote cite:before 		{ content: "\2014 \0020"; }
	blockquote cite a, 
	blockquote cite a:visited, 
	blockquote cite a:visited 	{ color: #555; }
	
	
	
/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0em !important; }
	.half-bottom { margin-bottom: 0.5em !important; }
	.add-bottom { margin-bottom: 1em !important; }
	.add-mid-bottom { margin-bottom: 1.5em !important; }
	.add-big-bottom { margin-bottom: 2em !important; }
	
	

/* #Images/Video
================================================== */

	img.scale-with-grid, video {
		max-width: 100%;
		height: auto;
		padding-bottom: -50%;
		vertical-align: top;
		}
		
	img.bg {
		background-image:url(../img/640X480.png) 50% 50% no-repeat;
		overflow:hidden;
		width: 160px;
		height: 120px;
		}


/* #Links
================================================== */

	a, a:visited {
		color: #F90; 
		border-bottom: 1px solid #000;
		text-decoration: none; 
		outline: 0;
		/*-ms-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-webkit-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;*/ }
		
	a:hover, a:focus { 
		color: #FFF; 
		border-bottom: 1px solid #F90; }
		  
	p a, p a:visited { line-height: inherit; }
	


/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: none;
		border: none;
		color: #F90; 
		border-bottom: 1px solid #000;
		text-decoration: none; 
		outline: 0;
		 }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #CCC; 
		border-bottom: 1px solid #F90;
	
	 }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		color: #FFF; 
		border-bottom: 1px solid #F90;
		
		 }

	

	

/* #Lists
================================================== */

	ul, ol { margin-bottom: 2.875em; font-size: 50%;  }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 3em; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 0 0 0 1.4375em; font-size: 100%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { }
	li { line-height: 1.5em; /* margin-bottom: 1.5em; */ }
	ul.large li { line-height: 1.5em; }
	li p { line-height: 1.5em; }
	ul.inline li	{ display:inline; }
	
		


/* #Table 
================================================== */

	
	#table-zebra {
		margin: 0px 45px 40px 0px;
		width: auto;
		text-align: left;
		border-collapse: collapse;}
	#table-zebra th {
		font-size: 14px;
		font-weight: normal;
		padding: 10px 8px;
		border-bottom: 2px solid #6678b1; }
	#table-zebra td {
		padding: 8px;
		border-bottom: 1px solid #ccc; }
	#table-zebra .odd {
		background: #e8edff; }
		




/* #Tabs (activate in tabs.js)
================================================== */

	ul.tabs {
		display: block;
		margin: 0 0 20px 0;
		padding: 0;
		border-bottom: solid 1px #ddd; }
	ul.tabs li {
		display: block;
		width: auto;
		height: 30px;
		padding: 0;
		float: left;
		margin-bottom: 0; }
	ul.tabs li a {
		display: block;
		text-decoration: none;
		width: auto;
		height: 29px;
		padding: 0px 20px;
		line-height: 30px;
		border: solid 1px #ddd;
		border-width: 1px 1px 0 0;
		margin: 0;
		background: #f5f5f5;
		font-size: 13px; }
	ul.tabs li a.active {
		background: #fff;
		height: 30px;
		position: relative;
		top: -4px;
		padding-top: 4px;
		border-left-width: 1px;
		margin: 0 0 0 -1px;
		color: #111;
		-moz-border-radius-topleft: 2px;
		-webkit-border-top-left-radius: 2px;
		border-top-left-radius: 2px;
		-moz-border-radius-topright: 2px;
		-webkit-border-top-right-radius: 2px;
		border-top-right-radius: 2px; }
	ul.tabs li:first-child a.active {
		margin-left: 0; }
	ul.tabs li:first-child a {
		border-width: 1px 1px 0 1px;
		-moz-border-radius-topleft: 2px;
		-webkit-border-top-left-radius: 2px;
		border-top-left-radius: 2px; }
	ul.tabs li:last-child a {
		-moz-border-radius-topright: 2px;
		-webkit-border-top-right-radius: 2px;
		border-top-right-radius: 2px; }

	ul.tabs-content { margin: 0; display: block; }
	ul.tabs-content > li { display:none; }
	ul.tabs-content > li.active { display: block; }

	/* Clearfixing tabs for beautiful stacking */
	ul.tabs:before,
	ul.tabs:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	ul.tabs:after {
	  clear: both; }
	ul.tabs {
	  zoom: 1; }
	  
	  
	  
/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 2.2em;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }
		
		
	/* Nicer Forms
	----------------------------------------- */
	
	form.nice div.form-field input, form.nice input.input-text, form.nice textarea { border: solid 1px #bbb; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; }
	form.nice div.form-field input, form.nice input.input-text, form.nice textarea { font-size: 13px; padding: 10px 13px; outline: none !important; background: url(../img/form/input-bg.png) #fff; }
	form.nice div.form-field input:focus, form.nice input.input-text:focus, form.nice textarea:focus { background-color: #f9f9f9; }

	/* Text input and textarea, disabled */
	form.nice div.form-field input[disabled], form.nice input.input-text[disabled], form.nice textarea[disabled] { background-color: #ddd; }

	form.nice fieldset { border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }

	form.nice div.form-field input[type=radio], form.nice div.form-field input[type=checkbox] { display: inline; width:auto; margin-bottom:0; }

	form.nice div.form-field.error small, form.nice small.error { padding: 6px 4px; border: solid 0 #C00000; border-width: 0 1px 1px 1px; margin-top: -10px; background: #C00000; color: #fff; font-size: 12px; font-weight: bold; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; -webkit-border-bottom-left-radius: 2px; -webkit-border-bottom-right-radius: 2px; -moz-border-radius-bottomleft: 2px; -moz-border-radius-bottomright: 2px; }

 	form.nice div.form-field.error .small + small, form.nice .small + small.error { width: 132px; }
	form.nice div.form-field.error .medium + small, form.nice .medium + small.error { width: 252px; }
	form.nice div.form-field.error .large + small, form.nice .large + small.error { width: 432px; }
	
	form.nice div.form-field.error .small.oversize + small, form.nice .small.oversize + small.error { width: 136px; }
	form.nice div.form-field.error .medium.oversize + small, form.nice .medium.oversize + small.error { width: 256px; }
	form.nice div.form-field.error .large.oversize + small, form.nice .large.oversize + small.error { width: 436px; }
	
	
	/* Just Line
	----------------------------------------- */
	
	.line {
	  display: block;
	  border: none;
	  color: #333;
	  background: transparent;
	  border-bottom: 1px dotted black;
	  padding: 5px 2px 0 2px;
	}
	
	.line:focus { 
	  outline: none;
	  border-color: #51CBEE;
}
	







